// override default variable here

@import '../../node_modules/bootstrap/scss/bootstrap';

// additional style here
.main-container::-webkit-scrollbar {
  display: none;
}

.main-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100vh;
}

header {
  min-height: 60px;
}

nav {
  flex-direction: column;
  min-width: 250px;
}

.content-continaer {
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.content-continaer::-webkit-scrollbar {
  display: none;
}

.content-box-container {
  width: 100%;
}

.nav-item {
  min-height: 60px;
}

a.nav-link.active {
  color: blue !important;
  background-color: lightgrey;
}

a.nav-link {
  &:hover {
    font-weight: 600;
    transition: all ease-in 1.25;
  }
}

.mn-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.mn-profile-container {
  min-height: 30vh;
  background-color: dimgray;
}

.mn-bar {
  min-height: 60px;
}

.modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(2px);
}
