// override default variable here

@import '../../node_modules/bootstrap/scss/bootstrap';

// additional style here
.main-container::-webkit-scrollbar {
  display: none;
}

.main-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100vh;
}

header {
  min-height: 60px;
}

nav {
  flex-direction: column;
  min-width: 250px;
}

.content-continaer {
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.content-continaer::-webkit-scrollbar {
  display: none;
}

.content-box-container {
  width: 100%;
}

.nav-item {
  min-height: 60px;
}

a.nav-link.active {
  color: blue !important;
  background-color: lightgrey;
}

a.nav-link {
  &:hover {
    font-weight: 600;
    transition: all ease-in 1.25;
  }
}
